In [3]:
import gzip
import ast
import pandas as pd

datos = []
with gzip.open('users_items.json.gz', 'rb') as f:
    for line in f:
        datos.append(ast.literal_eval(line.decode('utf-8')))
users_items = pd.DataFrame(datos)
f.close()

stream_games = pd.read_json('C:\\Users\\licle\\Desktop\\Prep Henry\\Proyecto Integrados n1\\PI MLOps - STEAM\\output_steam_games.json', lines=True)

reviews = []
with open('C:\\Users\\licle\\Desktop\\Prep Henry\\Proyecto Integrados n1\\PI MLOps - STEAM\\australian_user_reviews.json', 'rb') as f:
    for line in f:
        reviews.append(ast.literal_eval(line.decode('utf-8')))
user_reviews = pd.DataFrame(reviews)
f.close()

In [ ]:
#I) Items:

In [4]:
#revisamos el contenido de cada uno de los dataframe que obtuvimos, empezamos con Items:
users_items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [5]:
#nos hacemos preguntas sobre la información que contiene:
#¿Cuantos items contiene?
users_items.items_count.sum()

5153209

In [6]:
#¿Se repiten los usuarios?
users_items.user_id.value_counts()

user_id
X03-Suits            3
76561198027488037    3
76561198100326818    3
76561198309337430    3
76561198051777058    3
                    ..
8392158              1
76561198056804863    1
SparklezTheTurtle    1
76561198019707497    1
edward_tremethick    1
Name: count, Length: 87626, dtype: int64

In [7]:
#¿Hay datos nulos?
users_items.isnull().sum()

user_id        0
items_count    0
steam_id       0
user_url       0
items          0
dtype: int64

In [8]:
#Un resumen de los datos:
users_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

In [ ]:
#II) Reviews

In [9]:
#Revisamos el contenido de Reviews:
user_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [10]:
#¿Se repiten los usuarios?
user_reviews.user_id.value_counts()

user_id
76561198027488037    3
76561198045953692    3
76561198051777058    3
76561198100326818    3
blablabla174         3
                    ..
SakurasouNo          1
goneckahorse         1
coutlindo            1
superdedicated       1
LydiaMorley          1
Name: count, Length: 25485, dtype: int64

In [13]:
#¿Hay datos nulos?
user_reviews.isnull().sum()

user_id     0
user_url    0
reviews     0
dtype: int64

In [14]:
#Un resumen de los datos:
user_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [ ]:
#III) Stream Games:

In [15]:
#Mismo proceso anterior:
stream_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

In [16]:
#Notamos que hay muchas filas vacías por lo tanto hacemos una copia del archivo original: 
copia_stream_games = stream_games.copy()
#Luego eliminamos aquellas filas que estén integramente vacías dado a que no tiene absolutamente nada de información
copia_stream_games.dropna(inplace = True , how='all')

In [17]:
#¿Se repiten el id de los juegos?
copia_stream_games.id.value_counts()

id
612880.0    2
761140.0    1
530200.0    1
518690.0    1
513460.0    1
           ..
676060.0    1
494160.0    1
215280.0    1
667090.0    1
681550.0    1
Name: count, Length: 32132, dtype: int64

In [18]:
#¿Hay datos nulos?
copia_stream_games.isnull().sum()

publisher       8052
genres          3283
app_name           2
title           2050
url                0
release_date    2067
tags             163
reviews_url        2
specs            670
price           1377
early_access       0
id                 2
developer       3299
dtype: int64

In [19]:
#Un resumen de los datos:
copia_stream_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 3.4+ MB

In [ ]:
#Encontramos datos anidados en las columnas,
#resolvemos en la exploración de datos revisar con que datos anidados contamos, 
#obteniendo así un panorama para la siguiente etapa.
#El proceso es el mismo con los pasos anterior
#Empezamos con Reviews:

In [20]:
reviews_desanidados = pd.json_normalize(user_reviews['reviews'].explode(), sep='_')

reviews_desanidados.head()

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [21]:
reviews_desanidados.item_id.value_counts()

item_id
730       3759
440       3736
4000      1735
570       1562
218620    1137
          ...
292390       1
350810       1
310850       1
231330       1
431510       1
Name: count, Length: 3682, dtype: int64

In [22]:
reviews_desanidados.isnull().sum()

funny          28
posted         28
last_edited    28
item_id        28
helpful        28
recommend      28
review         28
dtype: int64

In [23]:
reviews_desanidados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   funny        59305 non-null  object
 1   posted       59305 non-null  object
 2   last_edited  59305 non-null  object
 3   item_id      59305 non-null  object
 4   helpful      59305 non-null  object
 5   recommend    59305 non-null  object
 6   review       59305 non-null  object
dtypes: object(7)
memory usage: 3.2+ MB

In [26]:
#Continuamos con Items:
items_desanidados = pd.json_normalize(users_items['items'].explode(), sep='_')

items_desanidados.head()

  item_id                  item_name  playtime_forever  playtime_2weeks
0      10             Counter-Strike               6.0              0.0
1      20      Team Fortress Classic               0.0              0.0
2      30              Day of Defeat               7.0              0.0
3      40         Deathmatch Classic               0.0              0.0
4      50  Half-Life: Opposing Force               0.0              0.0

In [27]:
items_desanidados.item_name.value_counts()

item_name
Dota 2 Test                            49571
Counter-Strike: Global Offensive       43776
Garry's Mod                            43301
Unturned                               38682
Left 4 Dead 2                          37044
                                       ...
My Own Pet                                 1
Medieval Battlefields Black Edition        1
Football VR                                1
Tower Dwellers                             1
Arachnophobia                              1
Name: count, Length: 10947, dtype: int64

In [28]:
items_desanidados.isnull().sum()

item_id             16806
item_name           16806
playtime_forever    16806
playtime_2weeks     16806
dtype: int64

In [29]:
items_desanidados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5170015 entries, 0 to 5170014
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           object
 1   item_name         object
 2   playtime_forever  float64
 3   playtime_2weeks   float64
dtypes: float64(2), object(2)
memory usage: 157.8+ MB

In [ ]:
#CONCLUSIONES:
'''Stream_games: notamos que contaba con muchas filas vacías y concluímos que para analizar los datos eliminamos 
dichas filas. Encontramos algunas columnas que para el objeto de nuestro trabajo debemos quitas, en la siguiente
etapa nos enfrentraremos a la toma de decisiones que datos quitar y cuales dejar dependiendo de nuestros objetivos.
Users_items.json.gz: Notamos que cuenta con una extensión palpable, en la siguiente etapa tendremos que
manejar los datos con cuidado dado a que son muchos, aquí tendremos un archivo un poco más pesado y tendremos que 
manejar algún formato que pueda generar datasets livianos. Tenemos un grueso de datos anidados en la columna 'Items' 
que vamos a desanidar en la siguiente etapa.
Australian_user_reviews: En la próxima etapa deberemos trabajar con los datos que se encuentran anidados
a la columna reviews para la resolución de los objetivos'''